/** @format */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&family=Varela+Round&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Rubik', sans-serif;
 font-family: 'Varela Round', sans-serif;
}
body,
html {
 overflow-x: hidden;
}
body {
 min-height: 100vh;
 min-width: 100%;
 display: flex;
 flex-direction: column;
}

header h1 {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 padding: 10px 20px 50px 20px;
 font-size: 25px;
 color: rgb(71, 156, 225);
}
main {
 display: flex;
 justify-content: center;
 flex-direction: column;
 gap: 50px;
 min-height: 80vh;
 min-width: fit-content;
 margin: 20px auto;
}

#houseForm h3 {
 display: flex;
 font-size: 20px;
 justify-content: center;
 margin-bottom: 25px;
 color: white;
 letter-spacing: 1px;
}

#houseForm {
 display: flex;
 flex-direction: column;
 margin: 25px auto;
 padding: 50px 25px;
 border: 2px solid rgb(255, 255, 255);
 background-color: rgb(71, 156, 225);
 border-radius: 15px;
 min-width: 50vw;
}
#houseForm label {
 font-size: 15px;
 margin: 5px;
 color: white;
 min-width: 300px;
}
#houseForm input,
textarea,
button {
 padding: 10px;
 background-color: rgb(5, 80, 140);
 border: 0px;
 border-radius: 5px;
 margin: 5px 0;
 font-size: 18px;
 color: white;
 text-transform: lowercase;
}

#houseForm .save-button {
 background-color: rgb(5, 80, 140);
 color: white;
 text-transform: uppercase;
 font-size: 15px;
}
#houseForm textarea {
 resize: none;
 min-height: 100px;
}

.section1 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0 auto;
}

.search input {
 display: flex;
 justify-content: center;
 border: none;
 margin: 40px auto;
 padding: 25px;
 border-radius: 15px;
 font-size: 18px;
 font-weight: 400;
 max-height: 50px;
 min-width: 55vw;
 background-color: rgb(71, 156, 225);
 border: 2px solid rgb(255, 255, 255);
 color: white;
}
#searchInput::placeholder {
 color: white;
}
.clear-button {
 background-color: rgba(71, 156, 225, 0.569);
 font-size: 15px;
 width: 200px;
 font-weight: 800;
 margin: 0 auto;
}
.clear-button:hover {
 background-color: rgb(71, 156, 225);
 color: white;
 cursor: pointer;
}

.edit-icon {
 display: none;
}

.delete-button,
.edit-button {
 text-align: center;
 background: none;
}
.delete-button,
.edit-button:hover {
 cursor: pointer;
}
.house-item {
 text-transform: capitalize;
}

table {
 margin: 30px auto;
 min-width: 50vw;
 border-radius: 10px;
 background-color: rgba(5, 79, 140, 0.751);
}
td {
 color: white;
 margin: 0 auto;
 border: 2px solid rgb(7, 90, 157);
 padding: 15px;
 min-width: 150px;
 word-wrap: break-word;
}

.edit-column,
.delete-column {
 width: 50px;
}

i.fa.fa-pencil,
i.fa.fa-trash {
 font-size: 25px;
 color: white;
}

.no-data-h1 {
 color: white;
 background-color: rgb(255, 0, 0);
 padding: 10px;
 font-size: 15px;
 font-weight: 800;
 width: 105px;
 text-align: center;
}
.house-item button {
 color: white;
 justify-content: space-between;
 margin-left: 2px;
 font-size: 10px;
 font-weight: 800;
}

.house-item .button:hover {
 cursor: pointer;
 background-color: rgba(255, 255, 255, 0.506);
 color: black;
}

#houseForm button:hover {
 cursor: pointer;
 background-color: rgba(255, 255, 255, 0.506);
 color: black;
}
.main-btns {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: auto;
 gap: 25px;
}
#logout-button,
.improvements-btn {
 display: flex;
 justify-content: center;
 min-width: 200px;
 padding: 10px;
 background-color: rgba(71, 156, 225);
 font-size: 18px;
 border-radius: 5px;
 color: white;
}
.improvements-btn a {
 text-decoration: none;
 color: inherit;
}
#logout-button:hover,
.improvements-btn:hover {
 cursor: pointer;
 color: rgb(184, 223, 255);
}

footer {
 font-size: 20px;
 display: flex;
 align-items: flex-end;
 min-width: 100vw;
 min-height: 180px;
 padding: 20px;
 background-color: rgb(71, 156, 225);
}
.contact h1 {
 font-size: 18px;
 padding: 5px;
 letter-spacing: 1px;
 color: white;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}
footer a {
 color: white;
 letter-spacing: 1px;
 text-decoration: none;
}
/* media queries */
@media (max-width: 480px) {
 header h1 {
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
 }
 main {
  flex-direction: column;
 }
 .delete-button,
 .edit-button {
  font-size: 12px !important;
 }
 .house-item {
  font-size: 15px;
 }
 #houseForm {
  max-width: 350px;
 }
 #houseForm h3 {
  font-size: 15px;
 }

 .clear-button {
  font-size: 12px;
 }
 .contact h1 {
  font-size: 14px;
 }

 #logout-button,
 .improvements-btn {
  margin: 0 5px;
  margin-top: 40px;
  min-width: 100px;
  padding: 20px;
  background-color: rgba(71, 156, 225);
  font-size: 15px;
 }
 #houseForm h3 {
  font-size: 12px;
  text-align: center;
  line-height: 15px;
 }
 table {
  width: 350px;
 }
 td {
  font-size: 8px;
  padding: 5px;
  min-width: 15px;
 }
 i.fa.fa-pencil,
 i.fa.fa-trash {
  font-size: 12px;
 }
}

@media (min-width: 768px) and (max-width: 1023px) {
 header h1 {
  font-size: 25px;
 }

 main {
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
 }
 .section1 {
  margin: 10px auto;
 }
 .house-item {
  flex-wrap: wrap;
 }
 #houseForm {
  min-width: 500px;
  padding: 20px;
  margin: 20px auto;
 }
 #houseForm label {
  font-size: 15px;
 }
 #houseForm h3 {
  font-size: 15px;
  text-align: center;
  line-height: 15px;
 }

 table {
  min-width: 500px;
 }
 td {
  font-size: 14px;
  padding: 5px;
  min-width: 15px;
 }
 .contact h1 span {
  font-size: 20px;
 }
 footer {
  min-height: 220px;
 }
}
