/** @format */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 min-height: 100vh;
 max-width: 100vw;
 background-image: url(tom-podmore-GmfKH9Ci4no-unsplash.jpg);
 background-size: cover;
 box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.565);
 display: flex;
 justify-content: center;
 font-family: fantasy;
}

main {
 display: flex;
 justify-content: center;
 align-items: center;
}
.sign-up-h1 {
 color: white;
 margin: 0 auto;
 display: flex;
 justify-content: center;
}
.sign-up-form {
 display: flex;
 flex-direction: column;
 margin: 25px auto;
 padding: 40px;
 border: 2px solid rgb(255, 255, 255);
 background-color: rgba(0, 0, 0, 0.442);
 border-radius: 12px;
 min-width: 500px;
 font-family: sans-serif;
}

.sign-up-form label {
 color: white;
 padding: 5px 0;
 font-size: 18px;
 margin: 5px 0 0 0;
}
.sign-up-form input {
 padding: 15px;
 border-radius: 8px;
 background-color: rgba(0, 0, 0, 0.724);
 color: white;
}

.sign-up-btn {
 display: flex;
 justify-content: center;
 min-width: 200px;
 padding: 10px;
 background-color: rgba(0, 0, 0, 0.724);
 border: 0px;
 border-radius: 5px;
 margin: 5px auto;
 font-size: 18px;
 color: white;
 font-family: sans-serif;
 cursor: pointer;
}
/* media queries */
@media (max-width: 480px) {
 .sign-up-h1 {
  font-size: 18px;
 }
 .sign-up-form {
  min-width: 350px;
  padding: 10px 20px;
 }
}
@media (min-width: 768px) and (max-width: 1023px) {
 .sign-up-h1 {
  font-size: 30px;
 }
 .sign-up-form {
  min-width: 450px;
 }
}
